{#  #}

{% extends 'base.html.twig' %}

{% block title %}FoxPen | Front{% endblock %}

{% block body %}
    <section class="content">
        <article>
            <h2>Example Article</h2>
            <p class="subtitle">with an example subtitle</p>
            <div class="article-content">
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper dui tortor, nec auctor arcu congue non. Maecenas turpis tortor, auctor at condimentum id, tempor a metus. Sed condimentum ac nulla quis fringilla. Morbi non enim hendrerit justo finibus feugiat sit amet sed augue. Nam auctor mattis est, ac tempor erat ultricies nec. Ut at quam libero. Aliquam id ullamcorper elit, ac varius ex. Vestibulum pharetra fermentum lectus id congue. Vestibulum nec felis nisl. Curabitur nec odio id quam semper fringilla. Maecenas interdum venenatis nunc, at hendrerit ante accumsan ut. Proin gravida leo mauris, quis maximus dui lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam congue id leo euismod auctor.</p>
                    <p>Aenean euismod felis justo, sit amet elementum odio dapibus vel. Quisque tempus libero elit, et scelerisque erat aliquam et. Nullam dictum nunc non lacus tincidunt faucibus. Donec vulputate et mi quis dignissim. Cras dolor nisi, vehicula eget pellentesque nec, aliquam vel nisi. Quisque lectus nunc, tempus sit amet libero ac, dictum gravida orci. Aenean facilisis leo velit, at dictum urna malesuada in. Cras bibendum nibh vel elementum malesuada. Quisque vitae nisi in est pellentesque dapibus vel a ex. Integer porttitor, tellus eu bibendum gravida, nisl neque vestibulum elit, vitae pellentesque lacus nunc eget neque.</p>
                    <p>Morbi id aliquam mauris. Nulla dapibus libero a euismod ullamcorper. In eget metus accumsan, vulputate elit eu, facilisis nisi. Nunc tempus erat eu diam maximus fringilla. Vestibulum mollis, urna vitae consequat accumsan, lorem tortor egestas lectus, in tincidunt turpis felis nec mi. Nulla et tortor nec leo imperdiet pellentesque non id purus. Ut dictum porttitor enim, id mollis libero euismod vel. Nullam mattis odio lacus, nec lobortis sem consequat hendrerit. Aliquam quis tortor et mauris finibus luctus vel quis risus.</p>
                </div>
                <div class="image">
                    <img src="{{ absolute_url(asset('images/okami.png')) }}" alt="Okami" width="150px" height="150px">
                </div>
            </div>
        </article>
        <article></article>
        <article></article>
    </section>
{% endblock %}