{#  #}

{% extends 'base.html.twig' %}

{% block title %}FoxPen | Front{% endblock %}

{% block body %}
    <section class="content">
        <article>
            <h2>Dependency Injection with pinject</h2>
            <div class="article-content">
                <div class="meta-data">
                    <div class="date"><p>12.01.2018</p></div>
                    <div class="author"><p>Author: Adrian Cieluch</p></div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper dui tortor, nec auctor arcu congue non. Maecenas turpis tortor, auctor at condimentum id, tempor a metus. Sed condimentum ac nulla quis fringilla. Morbi non enim hendrerit justo finibus feugiat sit amet sed augue. Nam auctor mattis est, ac tempor erat ultricies nec. Ut at quam libero. Aliquam id ullamcorper elit, ac varius ex. Vestibulum pharetra fermentum lectus id congue. Vestibulum nec felis nisl. Curabitur nec odio id quam semper fringilla. Maecenas interdum venenatis nunc, at hendrerit ante accumsan ut. Proin gravida leo mauris, quis maximus dui lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam congue id leo euismod auctor.</p>
                    <p>Aenean euismod felis justo, sit amet elementum odio dapibus vel. Quisque tempus libero elit, et scelerisque erat aliquam et. Nullam dictum nunc non lacus tincidunt faucibus. Donec vulputate et mi quis dignissim. Cras dolor nisi, vehicula eget pellentesque nec, aliquam vel nisi. Quisque lectus nunc, tempus sit amet libero ac, dictum gravida orci. Aenean facilisis leo velit, at dictum urna malesuada in. Cras bibendum nibh vel elementum malesuada. Quisque vitae nisi in est pellentesque dapibus vel a ex. Integer porttitor, tellus eu bibendum gravida, nisl neque vestibulum elit, vitae pellentesque lacus nunc eget neque.</p>
                </div>
            </div>
        </article>
        <article>
            <h2>Blog development with Symfony 4</h2>
            <div class="article-content">
                <div class="meta-data">
                    <div class="date"><p>12.01.2018</p></div>
                    <div class="author"><p>Author: Adrian Cieluch</p></div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper dui tortor, nec auctor arcu congue non. Maecenas turpis tortor, auctor at condimentum id, tempor a metus. Sed condimentum ac nulla quis fringilla. Morbi non enim hendrerit justo finibus feugiat sit amet sed augue. Nam auctor mattis est, ac tempor erat ultricies nec. Ut at quam libero. Aliquam id ullamcorper elit, ac varius ex. Vestibulum pharetra fermentum lectus id congue. Vestibulum nec felis nisl. Curabitur nec odio id quam semper fringilla. Maecenas interdum venenatis nunc, at hendrerit ante accumsan ut. Proin gravida leo mauris, quis maximus dui lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam congue id leo euismod auctor.</p>
                    <p>Aenean euismod felis justo, sit amet elementum odio dapibus vel. Quisque tempus libero elit, et scelerisque erat aliquam et. Nullam dictum nunc non lacus tincidunt faucibus. Donec vulputate et mi quis dignissim. Cras dolor nisi, vehicula eget pellentesque nec, aliquam vel nisi. Quisque lectus nunc, tempus sit amet libero ac, dictum gravida orci. Aenean facilisis leo velit, at dictum urna malesuada in. Cras bibendum nibh vel elementum malesuada. Quisque vitae nisi in est pellentesque dapibus vel a ex. Integer porttitor, tellus eu bibendum gravida, nisl neque vestibulum elit, vitae pellentesque lacus nunc eget neque.</p>
                </div>
            </div>
        </article>
        <article>
            <h2>Simple game with godot</h2>
            <div class="article-content">
                <div class="meta-data">
                    <div class="date"><p>12.01.2018</p></div>
                    <div class="author"><p>Author: Adrian Cieluch</p></div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper dui tortor, nec auctor arcu congue non. Maecenas turpis tortor, auctor at condimentum id, tempor a metus. Sed condimentum ac nulla quis fringilla. Morbi non enim hendrerit justo finibus feugiat sit amet sed augue. Nam auctor mattis est, ac tempor erat ultricies nec. Ut at quam libero. Aliquam id ullamcorper elit, ac varius ex. Vestibulum pharetra fermentum lectus id congue. Vestibulum nec felis nisl. Curabitur nec odio id quam semper fringilla. Maecenas interdum venenatis nunc, at hendrerit ante accumsan ut. Proin gravida leo mauris, quis maximus dui lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam congue id leo euismod auctor.</p>
                    <p>Aenean euismod felis justo, sit amet elementum odio dapibus vel. Quisque tempus libero elit, et scelerisque erat aliquam et. Nullam dictum nunc non lacus tincidunt faucibus. Donec vulputate et mi quis dignissim. Cras dolor nisi, vehicula eget pellentesque nec, aliquam vel nisi. Quisque lectus nunc, tempus sit amet libero ac, dictum gravida orci. Aenean facilisis leo velit, at dictum urna malesuada in. Cras bibendum nibh vel elementum malesuada. Quisque vitae nisi in est pellentesque dapibus vel a ex. Integer porttitor, tellus eu bibendum gravida, nisl neque vestibulum elit, vitae pellentesque lacus nunc eget neque.</p>
                </div>
            </div>
        </article>
    </section>
    <aside>
        <div id="search">Search</div>
        <div id="recent">
            <h3>Recent</h3>
            <ul>
                <li><a href="#">How to do this cool thing</a></li>
                <li><a href="#">How to do this cool other thing</a></li>
                <li><a href="#">Dependency Injection with pinject</a></li>
                <li><a href="#">Building a blog with Symfony 4</a></li>
                <li><a href="#">Simple game with Godot</a></li>
            </ul>
        </div>
    </aside>
{% endblock %}