// General
$background: #333333;
$text-color: #999999;
$meta-color: sandybrown;
$link-color: #444444;

// Header
$header-background: #111111;
$header-border: #AAAAAA;
$header-link-color: #DDDDDD;
$link-highlight: darkorange;
$logo-color: #DDDDDD;
$header-height: 60px;
